{% extends 'layout.html' %} {% block style %}
<style>
#mecro {
    padding: 50px 80px;
}

#mecro #treemap text {
    font-size: 12px;
}

#mecro #treemap rect {
    fill: none;
}

#mecro #treemap {
    text-align: center;
    position: relative;
}

#mecro #detail {
    display: none;
    height: 605px;
    text-align: center;
}

#mecro #detail p {
    color: #ccc;
    font-size: 16px;
}

#mecro #detail p span {
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
    color: red;
}

#mecro #detail #back {
    font-size: 24px;
    margin-right: 30px;
    color: #999;
    transition: color .3s;
    -o-transition: color .3s;
    -ms-transition: color .3s;
    -moz-transition: color .3s;
    -webkit-transition: color .3s;
}

#mecro #detail #back:hover {
    cursor: pointer;
    color: #fff;
}

#mecro #detail #weekday {
    width: 294px;
    margin: 0 auto;
    margin-top: 60px;
}

#mecro #detail #weekday span {
    width: 35px;
    margin-left: 1px;
    margin-right: 1px;
    display: inline-block;
    text-align: center;
    color: #ddd;
}

#mecro #detail #calendar {
    width: 294px;
    height: 210px;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
}

#mecro #detail #calendar .day {
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 1px;
    background-color: white;
    transition: transform .3s;
    -o-transition: -o-transform .3s;
    -ms-transition: -ms-transform .3s;
    -moz-transition: -moz-transform .3s;
    -webkit-transition: -webkit-transform .3s;
    border-radius: 2px;
}

#mecro #detail #calendar .day:hover,
#mecro #detail #calendar .day.active {
    cursor: pointer;
    transform: scale(.8);
    -o-transform: scale(.8);
    -ms-transform: scale(.8);
    -moz-transform: scale(.8);
    -webkit-transform: scale(.8);
}

#mecro #detail #compare {
    height: 600px;
}

#mecro #timezone {
    position: absolute;
    top: 55px;
    z-index: 999;
    width: 1000px;
    right: 50%;
    margin-right: -500px;
    text-align: right;
    padding-right: 20px;
    font-size: 20px;
}

#mecro #event {
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    margin-top: 40px;
}
</style>
{% endblock %} {% block body %}
<script>
$(document).ready(function() {
    $('#header #nav #nav3').addClass('active');

    $('#header #nav a').mouseenter(function() {
        $('#header #nav a').removeClass('active');
        $(this).addClass('active');
    });
    $('#header #nav').mouseleave(function() {
        $('#header #nav a').removeClass('active');
        $('#header #nav #nav3').addClass('active');
    });
});
</script>
<script src="{{url_for('static',filename='js/d3/d3.js')}}"></script>
<script src="{{url_for('static',filename='js/d3/d3.layout.js')}}"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=gW3cQ4s09L4KYCnxh7VKf26P"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js"></script>
<div id="mecro">
    <div class="row" style="overflow:hidden;">
        <div id="treemap">
        </div>
        <div id="detail">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <p><i id="back" class="fa fa-fw fa-reply"></i><span></span>站事件识别结果</p>
                    <div id="weekday">
                        <span>一</span>
                        <span>二</span>
                        <span>三</span>
                        <span>四</span>
                        <span>五</span>
                        <span>六</span>
                        <span>日</span>
                    </div>
                    <div id="calendar">
                    </div>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <div id="compare"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="position:relative;">
        <p id="timezone"></p>
        <div id="event">
        </div>
    </div>
</div>
<script>
$(document).ready(function($) {
    // 矩形树图部分
    var w = 1000,
        h = 600,
        x = d3.scale.linear().range([0, w]),
        y = d3.scale.linear().range([0, h]),
        color = {
            '1': '#C00',
            '2': '#090',
            '3': '#F9E103',
            '4': '#660066',
            '5': '#CC00CC',
            '6': '#FF3265',
            '7': '#FF7F00',
            '8': '#0066CC',
            '9': '#95D3DB',
            '10': '#C9A7D5',
            '11': '#800000',
            '12': '#0C785E',
            '13': '#E796C1',
            '16': '#77C8C7'
        },
        root,
        node;

    var treemap = d3.layout.treemap()
        .round(false)
        .size([w, h])
        .sticky(true)
        .value(function(d) {
            return d.size;
        });

    var svg = d3.select("#treemap").append("svg:svg").attr("width", w).attr("height", h).append("svg:g").attr("transform", "translate(.5,.5)");

    var trafficData = '';

    d3.json("{{url_for('static', filename='flare.json')}}", function(data) {
        node = root = data;

        var nodes = treemap.nodes(root)
            .filter(function(d) {
                return !d.children;
            });

        var cell = svg.selectAll("g")
            .data(nodes)
            .enter().append("svg:g")
            .attr("class", "cell")
            .attr("transform", function(d) {
                return "translate(" + d.x + "," + d.y + ")";
            })
            .on("click", function(d) {
                if (node == d.parent) {
                    var stationName = d.name;
                    $('#mecro #treemap').animate({
                            left: "-100%"
                        },
                        600,
                        function() {
                            $('#mecro #treemap').hide();
                            $('#mecro #detail').fadeIn(600);
                            $('#mecro #detail p span').text(stationName);

                            $.ajax({
                                    url: "{{url_for('traffic')}}",
                                    type: 'post',
                                    dataType: 'json',
                                    data: {
                                        name: stationName
                                    },
                                })
                                .done(function(data) {
                                    trafficData = data['traffic'];
                                    d3.selectAll(".day").style('background-color', function(d, i) {
                                        if (trafficData[d]['event']) {
                                            return 'red';
                                        } else {
                                            return '#ddd';
                                        }
                                    });
                                    var baseline = trafficData[0]['traffic'];
                                    baseline = baseline.split(',');
                                    for (var i = baseline.length - 1; i >= 0; i--) {
                                        baseline[i] = parseInt(baseline[i]);
                                    }
                                    var thisDay = trafficData[1]['traffic'];
                                    thisDay = thisDay.split(',');
                                    for (var i = thisDay.length - 1; i >= 0; i--) {
                                        thisDay[i] = parseInt(thisDay[i]);
                                    }
                                    compareOption['series'][0]['data'] = baseline;
                                    compareOption['series'][1]['data'] = thisDay;
                                    require(
                                        [
                                            'echarts',
                                            'echarts/chart/line',
                                        ],
                                        function(ec) {
                                            var compare = ec.init(document.getElementById('compare'), theme);
                                            compare.setOption(compareOption);
                                        });
                                    $('#mecro #detail #calendar .day').removeClass('active');
                                    $('#mecro #detail #calendar .day:first-child').addClass('active');

                                })
                                .fail(function() {})
                                .always(function() {});
                        });
                    return zoom(root);
                } else {
                    return zoom(d.parent);
                }
            });

        cell.append("svg:rect")
            .attr("width", function(d) {
                return Math.abs(d.dx - 1);
            })
            .attr("height", function(d) {
                return Math.abs(d.dy - 1);
            })
            .style("fill", function(d) {
                return color[d.parent.name];
            }).attr("stroke", "none");

        cell.append("svg:text")
            .attr("x", function(d) {
                return d.dx / 2;
            })
            .attr("y", function(d) {
                return d.dy / 2;
            })
            .attr("dy", ".35em")
            .attr("text-anchor", "middle")
            .text(function(d) {
                return d.name;
            }).attr("fill", "white")
            .style("opacity", function(d) {
                if (d.size == 0) {
                    return 0;
                }
                d.w = this.getComputedTextLength();
                return d.dx > d.w ? 1 : 0;
            });

        d3.select(window).on("click", function() {
            zoom(root);
        });
    });

    function size(d) {
        return d.size;
    }

    function count(d) {
        return 1;
    }

    function zoom(d) {
        var kx = w / d.dx,
            ky = h / d.dy;
        x.domain([d.x, d.x + d.dx]);
        y.domain([d.y, d.y + d.dy]);

        var t = svg.selectAll("g.cell").transition()
            .duration(d3.event.altKey ? 7500 : 750)
            .attr("transform", function(d) {
                return "translate(" + x(d.x) + "," + y(d.y) + ")";
            });

        t.select("rect")
            .attr("width", function(d) {
                return Math.abs(kx * d.dx - 1);
            })
            .attr("height", function(d) {
                return Math.abs(ky * d.dy - 1);
            })

        t.select("text")
            .attr("x", function(d) {
                return kx * d.dx / 2;
            })
            .attr("y", function(d) {
                return ky * d.dy / 2;
            })
            .style("opacity", function(d) {
                return kx * d.dx > d.w ? 1 : 0;
            });

        node = d;
        d3.event.stopPropagation();
    }

    d3.select("#calendar").selectAll('div').data([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]).enter().append('div').attr('class', 'day').style("left", function(d, i) {
        return 42 * ((i + 2) % 7) + 'px';
    }).style("top", function(d, i) {
        return 42 * Math.floor(((i + 2) / 7)) + 'px';
    }).text(function(d, i) {
        return d;
    });

    $('#mecro #detail #calendar .day:first-child').addClass('active');

    $('#mecro #back').click(function() {
        $('#mecro #detail').fadeOut(600, function() {
            $('#mecro #treemap').show();
            $('#mecro #treemap').animate({
                left: 0
            }, 600);
        });
    });

    $('#mecro #detail #calendar .day').click(function() {
        $('#mecro #detail #calendar .day').removeClass('active');
        $(this).addClass('active');
        var tmp = $(this).text();
        var baseline = trafficData[0]['traffic'];
        baseline = baseline.split(',');
        for (var i = baseline.length - 1; i >= 0; i--) {
            baseline[i] = parseInt(baseline[i]);
        }
        var thisDay = trafficData[parseInt(tmp)]['traffic'];
        thisDay = thisDay.split(',');
        for (var i = thisDay.length - 1; i >= 0; i--) {
            thisDay[i] = parseInt(thisDay[i]);
        }
        compareOption['series'][0]['data'] = baseline;
        compareOption['series'][1]['data'] = thisDay;
        require(
            [
                'echarts',
                'echarts/chart/line',
            ],
            function(ec) {
                var compare = ec.init(document.getElementById('compare'), theme);
                compare.setOption(compareOption);
            });
    });

    var compareOption = {
        title: {
            show: false
        },
        tooltip: {
            trigger: 'axis',
        },
        legend: {
            data: ['当日客流', '基准客流']
        },
        calculable: true,
        xAxis: [{
            type: 'category',
            boundaryGap: false,
            data: ['00:00', '00:30', '01:00', '01:30', '02:00', '02:30', '03:00', '03:30', '04:00', '04:30', '05:00', '05:30', '06:00', '06:30', '07:00', '07:30', '08:00', '08:30', '09:00', '09:30', '10:00', '10:30', '11:00', '11:30', '12:00', '12:30', '13:00', '13:30', '14:00', '14:30', '15:00', '15:30', '16:00', '16:30', '17:00', '17:30', '18:00', '18:30', '19:00', '19:30', '20:00', '20:30', '21:00', '21:30', '22:00', '22:30', '23:00', '23:30']
        }],
        yAxis: [{
            type: 'value',
            scale: true
        }],
        series: [{
            name: '基准客流',
            type: 'line',
            data: [],
            smooth: true,
            symbol: 'none',
        }, {
            name: '当日客流',
            type: 'line',
            data: [],
            smooth: true,
            symbol: 'none'
        }]
    };

    // 出租车实时热力图
    var taxis = {{taxi|safe}};
    var map = new BMap.Map("event"); // 创建地图实例
    map.centerAndZoom(new BMap.Point(121.48, 31.22), 11); // 初始化地图，设置中心点坐标和地图级别
    map.enableScrollWheelZoom(); // 允许滚轮缩放
    map.addControl(new BMap.NavigationControl());
    map.setMapStyle({
        style: 'grayscale'
    });
    var taxiResult = [];
    var taxiMax = 0;
    for (var i = 0; i < taxis.length; i++) {
        var tmp = taxis[i]['taxi'];
        tmp = tmp.split(' ');
        var point = [];
        var count = 0;
        var error = 0.01;
        for (var j = 0; j < tmp.length; j++) {
            tmp[j] = tmp[j].split(',');
            if (parseInt(tmp[j][2]) > taxiMax) {
                taxiMax = parseInt(tmp[j][2]);
            }
            count = count + parseInt(tmp[j][2]);
            point.push({
                'lng': parseFloat(tmp[j][0]) + (Math.random() - 0.5) * error,
                'lat': parseFloat(tmp[j][1]) + (Math.random() - 0.5) * error,
                'count': parseInt(tmp[j][2]) + (Math.random() - 0.5) * error
            });
        }
        taxiResult.push(point);
    }
    var heatmapOverlay = new BMapLib.HeatmapOverlay({
        "radius": 20
    });
    var timeIndex = 0;
    var timeZone = ['00:00', '00:30', '01:00', '01:30', '02:00', '02:30', '03:00', '03:30', '04:00', '04:30', '05:00', '05:30', '06:00', '06:30', '07:00', '07:30', '08:00', '08:30', '09:00', '09:30', '10:00', '10:30', '11:00', '11:30', '12:00', '12:30', '13:00', '13:30', '14:00', '14:30', '15:00', '15:30', '16:00', '16:30', '17:00', '17:30', '18:00', '18:30', '19:00', '19:30', '20:00', '20:30', '21:00', '21:30', '22:00', '22:30', '23:00', '23:30'];
    map.addOverlay(heatmapOverlay);
    heatmapOverlay.setDataSet({
        data: taxiResult[timeIndex],
        max: taxiMax * 0.8
    });
    $('#mecro #timezone').text(timeZone[timeIndex]);

    setInterval(function() {
        timeIndex = (timeIndex + 1) % 48;
        heatmapOverlay.setDataSet({
            data: taxiResult[timeIndex],
            max: taxiMax * 0.8
        });
        $('#mecro #timezone').text(timeZone[timeIndex]);

    }, 500);

});
</script>
{% endblock %}